# Like .env.local, .env.test.local, etc.
*.local
.cache

# compiled output
dist
dist-ssr
build
**/*/dist
**/*/build
**/*/.turbo

# dependencies
node_modules
.pnp
.pnp.js

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Environment files
.env
.npmrc

# Keychain
*.pem

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Tests
/coverage
/.nyc_output

# next.js
.next/
out/
build

# turbo
.turbo

# vercel
.vercel

.env*
.flaskenv*
!.env.project
!.env.vault