@tailwind base;
@tailwind components;
@tailwind utilities;

.rounded-inherit {
  border-radius: inherit;
}
.rounded-t-inherit {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
.rounded-r-inherit {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
.rounded-b-inherit {
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}
.rounded-l-inherit {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.rounded-tl-inherit {
  border-top-left-radius: inherit;
}
.rounded-tr-inherit {
  border-top-right-radius: inherit;
}
.rounded-br-inherit {
  border-bottom-right-radius: inherit;
}
.rounded-bl-inherit {
  border-bottom-left-radius: inherit;
}
